<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Styles/JournalEntries.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Song+Myung" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <h1>My Scripture Journal</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy; @DateTime.Now.Year My Scripture Journal
        </footer>
    </div>
</body>
</html>